/* Tailwind base, componentes y utilidades */
@import "tailwindcss"; 

/* Estilos globales */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* solo bloquea scroll horizontal si quieres */
  overscroll-behavior: none;
  font-family: 'Inter', sans-serif;
  background-color: #111; /* opcional, si quieres un fondo oscuro de base */
}
